<!--The content below is only a placeholder and can be replaced.-->
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <h1>
      Cómo se hace {{ title }}
    </h1>
    <p>Te invitamos a aportar ideas, comentarios y propuestas de colaboración<p>
    <div class="cover-container">

      <app-enroll></app-enroll>

    </div>

  </div>

</div>
