.site-wrapper{
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  .site-wrapper-inner{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    & h1{
      text-align: center;
      padding-bottom: 20px;
    }
    .cover-container{
      padding-top: 40px;
    }
  }
}
