<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-4" [hidden]="submitted">

      <form #enroll="ngForm" (ngSubmit)='handleSubmit()'>
        <div class="form-group">
          <input [(ngModel)]="model.name" name="name" type="text" class="form-control" id="name" placeholder="Nombre" required minlength="3" #name="ngModel">
          <div [hidden]="name.valid || (!name.dirty || !name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors && name.errors.required">
              Escribe tu nombre
            </div>
            <div *ngIf="name.errors && name.errors.minlength">
              Al menos 3 caracteres...
            </div>
           </div>
        </div>
        <div class="form-group">
          <textarea [(ngModel)]="model.comments" name="comments" class="form-control" id="comments" placeholder="Comentarios" required minlength="3" #comments="ngModel"></textarea>
          <div [hidden]="comments.valid || (!comments.dirty || !comments.touched)" class="alert alert-danger">
            <div *ngIf="comments.errors && comments.errors.required">
              Escribe tu comentario
            </div>
            <div *ngIf="comments.errors && comments.errors.minlength">
              Al menos 3 caracteres...
            </div>
           </div>
        </div>
        <div class="form-group">
          <input [(ngModel)]='model.email' name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" required minlength="5" #email="ngModel" email="true">
          <div [hidden]="email.valid || (!email.dirty || !email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors">
              Escribe tu email
            </div>
           </div>
           <small id="emailHelp" class="form-text text-muted">Tu email no se almacenará en ninguna base de datos, tan solo se usará para contestar a tus comentarios</small>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="!enroll.form.valid" *ngIf="!sending">Enviar</button>
        <br><br>
        <div *ngIf="submitError != ''" class="alert alert-danger">
          {{ submitError }}
        </div>

      </form>

    </div>

    <div class="col-12 col-md-8 col-lg-6 col-xl-4" [hidden]="!submitted">
      <div>
        Gracias por escribir {{ model.name }}. En breve nos pondremos en contacto contigo.
      </div>
    </div>
  </div>
</div>
